# Scenario
Mandisa Nkosi is actively pursuing a career in data analysis. She has established a relationship with a political party that needs to decide how best to invest its available advertising budget. Mandisa thinks she can explore potential advertising avenues by analysing films that are available on streaming platforms. She will use the movies_merge.xlsx and ott_merge.csv data sets that were included in the Data folder of the ZIP file you downloaded from 3.0 Focus of the module. 

The insights gained from the analysis will inform the campaign, promotional materials, slogans, and language the political party will use to reach potential voters. Youâ€™ll return to this analysis throughout the module. 

# Objective
Use data analysis of streaming platform films to guide a political party's advertising strategy. Insights drawn from the data sets will influence the campaign's promotional materials, slogans, and language, ensuring they effectively engage potential voters.

In [1]:
# Import libraries

import pandas as pd
import numpy as np

# Import excel file

In [12]:
# read the Excel data 
movies = pd.read_excel('movies_merge.xlsx')

# View the column names.
print(movies.columns)

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

# Import csv file

In [13]:
# read the csv file 

ott = pd.read_csv('ott_merge.csv')

# view the column names

print(ott.columns)

Index(['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+'], dtype='object')

# Validate and describe the Data

In [20]:
# Using shape and head functions.

#Validate movies 

movies.head()
print(movies.shape)

(16744, 11)

In [23]:
# Validate ott

ott.head()
print(ott.shape)

(16744, 5)

In [21]:
# Describe the Data - movies

print(movies.dtypes)

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [24]:
# Describe the Data - ott

print(ott.dtypes)

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

# Combine the two DataFrames

In [25]:
# Using Concat() function 

# Concatenate the two DataFrames.
mov_ott_concat = pd.concat([movies, ott], axis=0)

# View the new DataFrame.
print(mov_ott_concat.shape)
mov_ott_concat.head()

(33488, 15)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010.0,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,NaN,NaN,NaN,NaN
1,2,The Matrix,1999.0,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,NaN,NaN,NaN,NaN
2,3,Avengers: Infinity War,2018.0,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,NaN,NaN,NaN,NaN
3,4,Back to the Future,1985.0,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,NaN,NaN,NaN,NaN
4,5,"The Good, the Bad and the Ugly",1966.0,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN,NaN,NaN

In [27]:
# Using merge() funcition

# merge the two DataFrames

mov_ott_merge = pd.merge(movies, ott)

#view the new DataFrame
print(mov_ott_merge.shape)
mov_ott_merge.head()

(16744, 15)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0

In [28]:
# Number of columns in new DataFrame. 

print(mov_ott_merge.columns)

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+'],
      dtype='object')