# Scenario
You are a data analyst at an insurance company that provides coverage for various retail businesses. One of your clients, Mr Smith, owns a general merchandise shop, and the company needs to reevaluate its current policy due to a recent surge in fire-related incidents in retail stores. The insurance company wants to understand if Mr Smith's shop carries any items that could be potentially fire-hazardous to assess the potential risks better.

Making use of the products.csv file, answer these three questions:

1-How many products contain the word Fire in their description?
2-How many products contain the word candle in their description?
3-How many products contain the word matches in their description?

# Prepare the workstation

In [1]:
# Import pandas and numpy libraries
import pandas as pd
import numpy as np

In [4]:
# used to verify the current directory and file path for the file to be imported.  
import os

# could not locate the product file in newly created jupyternotebook so this was able to solve that issue.
current_directory = os.getcwd()
print(current_directory)

/Users/b23/Documents/LSE Course /LSE_COURSE_2/LSE_DA201_Module_3_files/Data

In [3]:
# import the csv file 
products = pd.read_csv('products.csv')

# view the DataFrame
products

         StockCode                        Description
0            10002         INFLATABLE POLITICAL GLOBE
1            10080           GROOVY CACTUS INFLATABLE
2            10120                       DOGGY RUBBER
3           10123C               HEARTS WRAPPING TAPE
4           10124A        SPOTS ON RED BOOKCOVER TAPE
...            ...                                ...
3940  gift_0001_20  Dotcomgiftshop Gift Voucher £20.0
3941  gift_0001_30  Dotcomgiftshop Gift Voucher £30.0
3942  gift_0001_40  Dotcomgiftshop Gift Voucher £40.0
3943  gift_0001_50  Dotcomgiftshop Gift Voucher £50.0
3944             m                             Manual

[3945 rows x 2 columns]

# How many products contain the word Fire in their description?

In [5]:
# applying user-defined function to solve this question.

# Use the keyword def.
# function_name = contains_glass
# argument = x

In [13]:
# User-defined function to determine the word glass in product descriptions.
def contains_fire(x):
    # docstring
    """does the product contain fire?"""
    y = x.lower()
    # execute the function
    return "fire" in y

# Apply the function.
fc = products['Description'].apply(contains_fire)

# filter products for 'fire'
products[fc]

     StockCode                          Description
1318     22428             ENAMEL FIRE BUCKET CREAM
3033    84569B       PACK 3 FIRE ENGINE/CAR PATCHES
3626    90039A     FIRE POLISHED GLASS BRACELET RED
3627    90039B  FIRE POLISHED GLASS BRACELET MONTAN
3628    90039C   FIRE POLISHED GLASS BRACELET BLACK
3629    90039D   FIRE POLISHED GLASS BRACELET GREEN
3656    90060B       FIRE POLISHED GLASS NECKL GOLD
3657    90060D     FIRE POLISHED GLASS NECKL BRONZE
3658    90060F      FIRE POLISHED GLASS NECKL GREEN

In [15]:
# Filter products for 'fire'.
filtered_products = products[fc]

# Get the number of rows and columns in the filtered DataFrame.
num_rows = filtered_products.shape[0]
num_cols = filtered_products.shape[1]

# Print the number of rows and columns.
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 9
Number of columns: 2

In [28]:
# 9 products contain the word fire in the description

# How many products contain the word candle in their description?

In [16]:
# applying lambda function
# lambda argument : expression

In [17]:
# lambda function to determine products containing word candle. 
products [
    products['Description'].apply(lambda x:
                                     'candle' in x.lower())]

     StockCode                         Description
83      17012A  ORIGAMI VANILLA INCENSE/CANDLE SET
84      17012B  ORIGAMI JASMINE INCENSE/CANDLE SET
86      17012D     ORIGAMI ROSE INCENSE/CANDLE SET
87      17012E    ORIGAMI OPIUM INCENSE/CANDLE SET
107     17136A      BLUE STONES ON WIRE FOR CANDLE
...        ...                                 ...
3530    85230A         OPIUM SCENTED VOTIVE CANDLE
3531    85230B      CINNAMON SCENTED VOTIVE CANDLE
3532    85230E      STRAWBRY SCENTED VOTIVE CANDLE
3533    85230F               JASMINE VOTIVE CANDLE
3534    85230G                ORANGE VOTIVE CANDLE

[178 rows x 2 columns]

In [27]:
# 178 products contain the word candle in the description

# How many products contain the word matches in their description?

In [24]:
# lambda function to determine products containing word matches. 
products [
    products['Description'].apply(lambda x:
                                 'matches' in x.lower())]

    StockCode                      Description
669     21584     RETROSPOT SMALL TUBE MATCHES
670     21586  KINGS CHOICE GIANT TUBE MATCHES
671     21587     COSY HOUR GIANT TUBE MATCHES
672     21588     RETROSPOT GIANT TUBE MATCHES
673     21591      COSY HOUR CIGAR BOX MATCHES
674     21592      RETROSPOT CIGAR BOX MATCHES

In [26]:
# 6 products contain matches in description

# Best practices comments

* Used the right indentation and function names called upon in lowercase following PEP8
* Added neccesary comments to explain why certain functions are used but no in excessive way
* Import os function used at start was to highlight file path in which notebook was created to enable products csv file to be imported 
* Whilst not required in Question two - the additional code snippet used and syntax was to more of proof of output.
* whilst used user-defined and lambda functions - would likely use lambda more in future projects given its more concise

Robert Takenzire_3.2.9_Peer review assignment